.menu {
  position: fixed;
  left: 0;
  top: 5rem;
  width: 50px;
  height: 800px;
  padding: 15px 10px;
  background-color: white;
  transition: width 0.6s ease-in-out, transform 0.8s ease-in-out;
  z-index: 1;
}
.menu:hover {
  width: 200px;
  transform: translateX(1px);
  cursor: pointer;
}
.menu span {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 700;
}
.menu ul {
  list-style: none;
  padding: 0;
}
.menuItem {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s;
  padding: 7px 0;
}
.menu ul li:hover {
  background-color: rgba(245, 222, 179, 0.719);
}
.imageContainer img {
  width: 40px;
  height: 40px;
  object-fit: fill;
}
.active {
  background-color: rgba(245, 222, 179, 0.719);
}
@media screen and (max-width: 1022px) {
  .menu {
    width: 100%;
    height: auto;
    overflow-x: auto;
    padding: 5px;
  }
  .menu:hover {
    transform: none;
  }
  .menu ul {
    display: flex;
    gap: 5px;
    padding: 0 5px;
  }
  .menuItem {
    border-bottom: none;
  }
  .menuItem span {
    padding-right: 8px;
  }
}
