.delon {
  width: 111%;
  position: relative;
  left: 6%;
  top: 200px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding: 60px 95px;
}
.deliveryContainer {
  width: 85%;
}
.deliveryTitle {
  text-align: center;
  margin-bottom: 2rem;
}
.imgContainer {
  background-color: #e1b787;
  border-radius: 50%;
  padding: 10px 10px;
  width: 100px;
  transition: padding 0.3s ease-in-out;
}
.itemImg {
  width: 80px;
  height: 80px;
}
.imgContainer:hover {
  padding: 10px 20px;
  cursor: pointer;
}
.itemName {
  font-size: 18px;
}
