.headerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
  height: 80px;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.list2 {
  display: flex;
  list-style: none;
  gap: 1rem;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  margin-top: 10px;
}
.list2 :nth-child(2) {
  display: none;
}
.cart:hover,
.entrance:hover {
  color: rgb(176, 173, 173);
}
.burger {
  font-size: 35px;
}
.logo {
  width: 100px;
  height: auto;
  background-color: black;
}
.saleBtn {
  padding: 12px 23px;
  background-color: #e31c25;
  font-size: 15px;
  font-weight: 600;
  color: white;
  border-radius: 4px;
}
.saleBtn:hover {
  cursor: pointer;
  background-color: #be0912;
}
.trackOrder {
  color: #8c9f3f;
  border: 1px solid #8c9f3f;
  background-color: inherit;
  padding: 8px 20px;
  border-radius: 4px;
}
.trackOrder:hover {
  background-color: #8c9f3f;
  color: black;
  cursor: pointer;
}
.itemsAmount {
  position: relative;
  top: -17px;
  right: 5.3rem;
}
a {
  color: white;
}
@media screen and (max-width: 1057px) {
  .list2 :nth-child(2) {
    display: block;
  }
  .entrance {
    display: none;
  }
  .saleBtn {
    font-size: 13px;
    padding: 5px 4px;
    margin-right: 5px;
  }
  .trackOrder {
    padding: 6px 10px;
  }
  .logo {
    width: 80px;
  }
  .burger {
    font-size: 30px;
  }
}
@media screen and (max-width: 605px) {
  .trackOrder {
    display: none;
  }
}
