.headerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
  height: 80px;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.list1,
.list2 {
  display: flex;
  list-style: none;
  gap: 1rem;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  margin-top: 10px;
}
.list2 :nth-child(1),
.list2 :nth-child(2) {
  display: none;
}
.burger {
  font-size: 35px;
}
.saleBtn {
  padding: 12px 23px;
  background-color: #e31c25;
  font-size: 15px;
  font-weight: 600;
  color: white;
  border-radius: 4px;
}
.saleBtn:hover {
  cursor: pointer;
  background-color: #be0912;
}
.logo {
  width: 100px;
  height: auto;
  background-color: black;
}
.trackOrder {
  color: #8c9f3f;
  border: 1px solid #8c9f3f;
  background-color: inherit;
  padding: 8px 20px;
  border-radius: 4px;
}
.trackOrder:hover {
  background-color: #8c9f3f;
  color: black;
  cursor: pointer;
}
.cart {
  display: flex;
  gap: 2px;
}
.cart:hover {
  color: rgb(181, 179, 179);
}
.cart .desktopContent,
.cart .desktopContent i {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1057px) {
  .list1 {
    display: none;
  }
  .trackOrder,
  .list2 :nth-child(4) {
    display: none;
  }
  .list2 :nth-child(1),
  .list2 :nth-child(2) {
    display: flex;
    margin-top: 5px;
  }
  .entrance {
    margin-top: 4.4px;
  }
  .saleBtn {
    padding: 10px 5px;
    position: relative;
    right: -8%;
    top: -8px;
  }
  .cart .desktopContent {
    display: none;
  }
  .burger {
    position: relative;
    top: -8px;
  }
  .logo {
    position: relative;
    top: -8px;
  }
  .city {
    position: relative;
    top: -4px;
    font-size: 18px;
  }
}
@media screen and (max-width: 650px) {
  .list2 :nth-child(3),
  .list2 :nth-child(5),
  .list1 :nth-child(1) {
    display: none;
  }
  .saleBtn {
    font-size: 13px;
    padding: 5px 4px;
    margin-right: 5px;
  }
  .logo {
    width: 80px;
  }
  .burger {
    font-size: 30px;
  }
  .list2 :nth-child(1),
  .list2 :nth-child(2) {
    display: flex;
    margin-top: -1px;
  }
  .city {
    position: relative;
    top: -4px;
    font-size: 18px;
  }
}
