.restaurantsContainer {
  position: relative;
  left: 6%;
  top: 10rem;
  width: 94%;
  margin-bottom: 15rem;
}
.title {
  font-weight: 800;
  text-align: center;
  margin-bottom: 1rem;
}
.map {
  width: 100%;
  height: 60vh;
  border: 0;
  margin-bottom: 2rem;
}
.popUpContainer {
  text-align: center;
  width: 40%;
  margin: 0 auto;
}
.popUpContainer h3 {
  font-size: 35px;
  font-weight: bold;
  border-bottom: 1px solid rgba(128, 128, 128, 0.489);
  border-top: 1px solid rgba(128, 128, 128, 0.489);
  padding: 5px;
}
.sortPopUp {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
  font-size: 20px;
}
.sortPopUp ul li {
  list-style: none;
  position: relative;
  right: 10px;
}
