.slider {
  position: relative;
  left: 6%;
  top: 3.9rem;
  width: 92%;
}

.slider img {
  width: 100%;
  height: auto;
  object-fit: fill;
}
@media screen and (max-width: 1022px) {
  .slider {
    position: relative;
    top: 10rem;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .slider {
    width: 105%;
  }
}
